<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />

  <node 
		pkg="std_loop" 
		type="online_loop_detection" 
		name="online_loop_detection" 
		output="screen" 
	/>
  <param name="setting_path" type="string" value = "$(find std_loop)/config/config_velo_mulran.yaml"/>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find std_loop)/rviz_cfg/loop.rviz" />
  </group>

</launch>
